<div class="comment-message-box">
  <p class="comm-name">Cezar Baluta</p>
  <p class="comm-msg">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ab
    veritatis ratione laborum corporis, eos voluptatum consectetur molestias
    illo enim.
  </p>
</div>
