<div class="comment-message-box">
  <p class="comm-name"><%=comment.name%></p>
  <p class="comm-msg">
    <%=comment.content  %>
  </p>
  <p class="commentId" style="display: none;"><%=id%></p>
</div>
