<form class="row g-3">
  <div class="col-md-6">
    <label for="inputState" class="form-label">Oras</label>
    <select id="inputState" class="form-select">
      <option selected>Alege...</option>
      <option>Bucuresti</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inputState" class="form-label">Materii Studiate</label>
    <select id="inputState" class="form-select">
      <option selected>Alege...</option>
      <option>...</option>
    </select>
  </div>

  <div class="col-md-6">
    <label for="inputState" class="form-label">Rating</label>
    <select id="inputState" class="form-select">
      <option selected>Alege...</option>
      <option><i class="fa-solid fa-star-sharp"></i></option>
      <option>...</option>
      <option>...</option>
      <option>...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inputState" class="form-label">Specializare</label>
    <select id="inputState" class="form-select">
      <option selected>Alege...</option>
      <option>IT</option>
      <option>Medicina</option>
      <option>Matematica</option>
      <option>Inginerie</option>
      <option>Aeronautica</option>
    </select>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" />
      <label class="form-check-label" for="gridCheck"> Check me out </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn buton-link submit-btn">Sign in</button>
  </div>
</form>
