<form class="row g-3" action="/filter" method="post">
  <div class="col-md-6">
    <label for="inputState" class="form-label">Oras</label>
    <select id="inputState" class="form-select" name="oras">
      <option selected>Alege...</option>
      <option>Bucuresti</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inputState" class="form-label">Materii Studiate</label>
    <select id="inputState" class="form-select" name="materii">
      <option selected>Alege...</option>

      <% for(var i=0;i<materii.length;i++){ %>
      <option><%= materii[i] %></option>
      <% } %>

    </select>
  </div>

  <div class="col-md-6">
    <label for="inputState" class="form-label">Rating</label>
    <select id="inputState" class="form-select" name="rating">
      <option selected>Alege...</option>
      <option>1 Stea</option>
      <option>2 Stele</option>
      <option>3 Stele</option>
      <option>4 Stele</option>
      <option>5 Stele</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inputState" class="form-label">Specializare</label>
    <select id="inputState" class="form-select" name="specializare">
      <option selected>Alege...</option>
      <option>IT</option>
      <option>Medicina</option>
      <option>Matematica</option>
      <option>Inginerie</option>
      <option>Aeronautica</option>
    </select>
  </div>
  <div class="col-12">
    <div>
      <label for="distantaUni" class="form-label">Distanta fata de mine : <span id="val"></span></label>
      <input type="range" min="1" max="1000" value="500" class="form-range slider" id="distantaUni" name="distanta">
      
    </div>
  </div>
  <div class="col-12 div-submit">
    <button type="submit" class="btn buton-link submit-btn">
      Aplica filtrele
    </button>
  </div>
</form>