<div id="stats" class="container1">
  <h1>Statistici UniRo</h1>

  <div class="row charts-row">
    <div class="col-md-3 general-stats" id="utilizatoriTotali">
      <h2>300 Utilizatori</h2>
    </div>
    <div id="vizTot" class="col-md-3 general-stats">
      <h2>10000 Vizionari</h2>
    </div>
    <div id="msgTot" class="col-md-3 general-stats">
      <h2>360 Mesaje</h2>
    </div>
    <div class="col-md-6"><canvas id="myChart"></canvas></div>
    <div class="col-md-6"><canvas id="chart2"></canvas></div>
  </div>
</div>
