<form class="row g-3 form1">
  <div class="col-md-6">
    <label for="name" class="form-label"> Nume </label>
    <input type="text" class="form-control" id="name" />
  </div>
  <div class="col-md-6">
    <label for="prenume" class="form-label"> Prenume </label>
    <input type="text" class="form-control" id="prenume" />
  </div>
  <!-- <div class="col-12">
    <label for="email1" class="form-label"> Email </label>
    <input type="email" class="form-control email" />
  </div> -->
  <div class="col-12">
    <label for="msg" class="form-label"> Mesaj </label>
    <textarea
      type="text"
      class="form-control"
      id="msg"
      placeholder="Scrie mesajul aici..."
    ></textarea>
  </div>

  <div class="col-12">
    <label for="loc" class="form-label"> Localitate </label>
    <input type="text" class="form-control" id="loc" />
  </div>

  <div class="col-12">
    <form action="/stats" method="post">
      <button type="submit" class="hero-btn submit-btn" id="msgCounterBtn">
        Trimite
      </button>
    </form>
  </div>
</form>
