<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <form action="/add-university" method="POST">
        _ID
        <input type="text" name="_id" id="">
        <br>
        NUME
        <input type="text" name="nume" id="">
        <br>
        DESCRIERE
        <input type="text" name="descriere" id="">
        <br>
        ORAS
        <input type="text" name="oras" id="">
        <br>
        EMAIL
        <input type="text" name="email" id="">
        <br>
        LINK
        <input type="text" name="link" id="">
        <br>

        <div id="tags">
            Tag 1
            <input type="text" name="tag1" id="">
            <br>
        </div>

        <input type="button" id="1" value="Adauga tag-uri" onclick="createInputBox_tags();" />

        <div id="facultati">
            <input type="text" name="facultate1" id="">
            <br>
        </div>

        <input type="button" id="1" value="Adauga facultati" onclick="createInputBox_tags();" />

        <button type="submit" name="" value="">Submit</button>



    </form>

    <script src="scripts/tags.js"></script>
</body>


</html>