<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/add-university" method="POST">
        _ID
        <input type="text" name="_id" id="">
        <br>
        NUME
        <input type="text" name="nume" id="">
        <br>
        DESCRIERE
        <input type="text" name="descriere" id="">
        <br>
        ORAS
        <input type="text" name="oras" id="">
        <br>
        EMAIL
        <input type="text" name="email" id="">
        <br>
        LINK
        <input type="text" name="link" id="">
        <br>
        <button type="submit" name="" value="">Submit</button>
    </form>

    <!--
    Ma mai gandesc cum fac cu tag urile 
ca gen trebuie citite intr un fel de loop
vin eu cu o idee
-->
</body>

</html>