<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="css/add-university.css">
    <title>Document</title>
    <script src="https://use.fontawesome.com/894924603a.js"></script>
</head>

<body>

    <div class="title">
        <h1>University input form</h1>
        <p class="description">If you want your university to be added on the website, please fill out the following form.</p>
    </div>

    <form action="/add-university" class="big_form" method="POST">
        

        <div class="fields">
            <div class="container">
                <p>_ID</p>
                <input type="text" name="_id" id="">
                <br>
            </div>

            <div class="container">
                <p>NUME</p>
                <input type="text" name="nume" id="">
                <br>
            </div>

            <div class="container">
                <p>DESCRIERE</p>
                <input type="text" name="descriere" id="">
                <br>
            </div>
            <div class="container">
                <p>ORAS</p>
                <input type="text" name="oras" id="">
                <br>
            </div>
            <div class="container">
                <p>EMAIL</p>
                <input type="text" name="email" id="">
                <br>
            </div>
            <div class="container">
                <p>LINK</p>
                <input type="text" name="link" id="">
                <br>
            </div>
            <div id="tags">
                <div class="container">
                    <p>Tag 1</p>
                    <input type="text" name="tag1" id="">
                    <br>
                </div>
            </div>

            <div class="container">
                <input type="button" id="1" class="hero-btn" value="Adauga tag-uri" onclick="createInputBox_tags();" />

                <button type="submit" class="hero-btn" name="" value="">Submit</button>
            </div>
        </div>
    </form>

    <script src="scripts/tags.js"></script>
</body>


</html>