<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="css/styles-homepage.css">
    <link rel="stylesheet" href="css/add-university.css">
    <title>Document</title>
    <script src="https://use.fontawesome.com/894924603a.js"></script>
   </head>
<body>

    <nav>

            <a href="/"><img src="images/logo_uniro.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">EXPLORE</a></li>
                    <li><a href="/add-university">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>

        </nav>

  <div class="container">
    <div class="title">Inregistreaza universitatea</div>
    <div class="content">
      <form action="/add-university" class="big_form" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">_ID</span>
            <input type="text" name="_id" id="">
          </div>
          <div class="input-box">
            <span class="details">NUME</span>
            <input type="text" name="nume" id="">
          </div>
          <div class="input-box">
            <span class="details">DESCRIERE</span>
            <input type="text" name="descriere" id="">
          </div>
          <div class="input-box">
            <span class="details">ORAS</span>
            <input type="text" name="oras" id="">
          </div>
          <div class="input-box">
            <span class="details">EMAIL</span>
            <input type="text" name="email" id="">
          </div>
          <div class="input-box">
            <span class="details">LINK</span>
            <input type="text" name="link" id="">
          </div>
          <div class="input-box" >

              <div id="tags">
                    <span class="details">Tag 1</span>
                    <input type="text" name="tag1" id="">
              </div>
              <br>
              <input type="button" id="1" class="hero-btn" value="Adauga tag-uri" onclick="createInputBox_tags();" />
            
          </div>
        </div>
        
        <div class="button">
          
                <button type="submit" class="hero-btn" name="" value="">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <script src="scripts/menu.js"></script>
  <script src="scripts/tags.js"></script>
</body>
</html>
