<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta'); %>
    <title>UniRo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="css/darkmode.css" />
    <link rel="stylesheet" href="css/styles-homepage.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://use.fontawesome.com/894924603a.js"></script>
    <%- include('partials/favicon'); %>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3308683022339229"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <section class="content_after_load">
      <section class="header">
        <!-- Navbar and logo -->
        <nav>
          <a href="/"> <%- include("partials/logo") %> </a>
          <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
              <li> <div id="googleTranslate"></div></li>
              <li><a href="/despre">DESPRE NOI</a></li>
              <li>
                <a id="explore-button" href="/universitati">UNIVERSITĂȚI</a>
              </li>
              <li><a href="/contact" class="notranslate">CONTACT</a></li>
            </ul>
          </div>
          <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <!-- Project short description / viewer engagement -->
        <div class="text-box">
          <h1>Găsește universitatea perfectă</h1>
          <p>Găsește universitatea ideală pentru tine și pentru visul tău.</p>
          <!-- Call to action button -->
          <a id="explore-button2" href="/universitati" class="hero-btn"
            >Explorează</a
          >
        </div>
      </section>

      <!-- Top universities displayed -->
      <section class="second">
        <div class="top-unis">
          <h1>Universități de top in România</h1>
          <p class="uni-p">
            Cele mai bune 3 universități aflate pe teritoriul României conform
            clasamentelor oficiale.
          </p>

          <div class="row">
            <div class="col">
              <h3>Universitatea POLITEHNICA din București</h3>
              <p>
                Universitatea Politehnica din București este o instituție de
                învățământ superior de stat din București, România, înființată
                în anul 1864. Totodată, este cea mai mare universitate tehnică
                din țară, având 15 facultăți și aproximativ 25.000 de studenți.
              </p>
            </div>

            <div class="col">
              <h3>Universitatea din București</h3>
              <p>
                Universitatea din București este o universitate de stat din
                București și una dintre cele mai prestigioase instituții de
                învățământ superior din România. Fondată în 1864, Universitatea
                din București este a doua universitate modernă a României, după
                Universitatea din Iași.
              </p>
            </div>

            <div class="col">
              <h3>Universitatea Babeș-Bolyai</h3>
              <p>
                Universitatea Babeș-Bolyai este o instituție de învățământ
                superior de stat, cu sediul în Cluj-Napoca, în Sediul
                Universității. Poartă numele a doi oameni de știință proeminenți
                din Transilvania, microbiologul Victor Babeș și matematicianul
                maghiar János Bolyai.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Call to action / contact -->
      <section class="cta">
        <div class="contact-box">
          <h1>Contactează-ne pentru detalii</h1>
          <a class="hero-btn notranslate" href="/contact" >Contact</a>
        </div>
      </section>

      <br /><br /><br />

      <!-- Footer and very short description of the project -->
      <section class="footer">
        <h4>Despre noi</h4>

        <div class="desc">
          <p>
            UniRo are misiunea de a vă ajuta să vă gasiți universitatea ideală
            pentru dumneavoastră, iar platforma noastră are aproape toate
            universitățile din România deja înregistrate. Dacă doriți adăugarea
            unei universități noi, contactați-ne în legatură cu aceasta.
          </p>
        </div>

        <!-- Social media links -->
        <div class="icons">
          <a href="https://www.instagram.com/uniro_eu/" target="__blank"
            ><i class="fa fa-instagram"></i
          ></a>
        </div>

        <p>© Copyright UniRo 2022</p>
      </section>
    </section>

    <div class="loader">
      <div class="loading-circle"></div>
    </div>
    <script src="scripts/menu.js"></script>
    <script src="scripts/translate.js"></script>
    <script type="text/javascript" src=
"https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script> 
    <script>
      $(window).on("load", function () {
        $(".loader").fadeOut();
        $(".content_after_load").fadeIn(1);
      });
      $("#explore-button").on("click", function () {
        if (localStorage.getItem("isDarkMode") === "true")
          document.getElementsByTagName("body")[0].classList.add("dark-bg");
        $(".content_after_load").fadeOut(400);
        $(".loader").fadeIn(400);
      });
      $("#explore-button2").on("click", function () {
        if (localStorage.getItem("isDarkMode") === "true")
          document.getElementsByTagName("body")[0].classList.add("dark-bg");
        $(".content_after_load").fadeOut(400);
        $(".loader").fadeIn(400);
      });
    </script>
  </body>
</html>
