<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="css/styles-homepage.css">
    <link rel="stylesheet" href="css/styles-login_user.css">
    <script src="https://use.fontawesome.com/894924603a.js"></script>
</head>
</head>
<body>
    <section class="header">
        <nav>

            <a href="/">
                <%- include("partials/logo") %>
            </a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">EXPLORE</a></li>
                    <li><a href="/add-university">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>

        </nav>
    </section>

    <section class="footer">

        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-envelope"></i>
            <i class="fa fa-instagram"></i>
        </div>

        <p> © Copyright UniRo 2022 </p>
    </section>

    <script src="scripts/menu.js"></script>

</body>
</html>