* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 50%;
  text-align: center;
  position: relative;
  margin: 0 auto 1vh auto;
  background: #f44336;
}
p {
  margin: 3px;
}

h1 {
  color: #fff;
}

.big_form {
  width: 100%;
  background: #1a1a1a;
  position: relative;
  margin: 0 auto 0 auto;
  min-height: 100%;
  display: flex;
  align-items: center;
}
input {
  width: 50%;
}

body {
  position: absolute;
  margin: 0;
  padding: 0 0 0 0;
  height: 100vh;
  width: 100vw;
  background-color: FFF;
  background-blend-mode: multiply;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

.fields {
  vertical-align: middle;
  margin: auto auto;
  width: 100%;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
  width: 40%;
}

.hero-btn:hover {
  border: 1px solid #fff;
  color: #000;
  background: #fff;
  transition: 0.7s;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}