.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: block;
  
}

.sidebar a {
  display: block;
  color: black;
  color: #111;
  padding: 16px;
  text-decoration: none;
  text-align: center;
}

.sidebar a:hover {
  background-color: #f44336;
  color: #fff;
}

.sidebar button {
  display: block;
  color: #111;
  padding: 16px;
  text-decoration: none;
}

.sidebar button {
  display: block;
  color: #111;
  padding: 16px;
  text-decoration: none;
  border: none;
  background-color:#f1f1f1 ;
  width: 100%;
}


.sidebar button:hover {
  cursor: pointer;
  background-color: #f44336;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 0 16px;
  height: auto;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar button {
      float: left;
  }
  .sidebar a {
    width: 100%;
      float: left;
  }
  div.content {
      margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar button {
    text-align: center;
    float: none;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
}

button:focus {
  outline: none !important;
  box-shadow: none;
}

.sidebar .logout:hover{
  background-color: #111;
}

.sidebar .logout {
  background-color: #353535;
  color: #fff;
}

.container1 {
  margin-top: 2%;
}
.container1 h1 {
  font-size: 35px;
}

#add_university{
  display:none;
  margin-bottom: 0%;
}
#edit_university{
  display:none;
  margin-top: 0%;
  margin-bottom: 0%;
}
#req_to_add_university{
  display: none;
  margin-top: 0%;
  margin-bottom: 0%;
}


.materii span {
  border-radius: 20px;
  padding: 0 1.5%;
  margin-right: 0.5%;
  color: #fff;
  background-color: #11a8ff;
  margin-top: 5px;
}


.card-title {
  margin-top: 0%;
  padding-top: 0%;
}

.accept {
  display: flex;
  justify-content: space-between;
}

.verde:hover {
  background-color: #00a023;
  border-color: #00a023;
}

.rosu:hover {
  background-color: #c90d00;
  border-color: #c90d00;
}

.detail-color {
  color: #f44336;
}
#search{
  width: 100%;
}
.edit_photo{
  margin: auto;
  width: 75%;
  object-fit: cover;
}
img{
  max-width: 100%;
  max-height: 100%;
}

.dash-hide {
  visibility: hidden;
}

.click:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
  transition: 0.2s;
}