.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: block;
  
}


.sidebar a {
  display: block;
  color: #111;
  padding: 16px;
  text-decoration: none;
}

.sidebar button {
  display: block;
  color: #111;
  padding: 16px;
  text-decoration: none;
  border: none;
  border-radius: 0;
  width: 100%;
  text-align: left;
}


.sidebar a:hover {
  background-color: #f44336;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
      float: left;
  }
  div.content {
      margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.sidebar .logout:hover{
  background-color: #111;
}

.sidebar .logout {
  background-color: #353535;
  color: #fff;
}

.container1 {
  margin-top: 2%;
}
.container1 h1 {
  font-size: 35px;
}


