nav{
    background-color: #191919;
}
/* details */

.show-details {
    margin-top: 16vh;
}

.details-display {
    height: auto;
    margin-bottom: 3%;
}


#map {
    height: 100%;
    width: 100%;
}


.contact-email {
    color: #f44336;
}

.tb-input {
    color: #f44336;
}

.first-part {
    height: 50%;
}

.second-part {
    height: 50%;
}

.table {
    max-height: 100%;
    height: fit-content;
    margin-bottom: 0%;
}




@media (max-width: 730px) {
    .details-display {
        max-height: max-content;
        margin-bottom: 10%;
        padding-bottom: 10%;
    }

    .table {
        margin-top: 32vh;
        min-height: max-content;
        overflow: hidden;
    }

    .first-part {
        height: max-content;
        margin-bottom: 10vh;
    }

    .second-part {
        max-height: min-content;
    }

    .second-part #map {
        position: relative;
    }
}