nav{
    background-color: #191919;
}
/* details */

.row {
    margin-top: 10%;
}

.first-part {
    margin-bottom: 5%;
}

#map {
    height: 100%;
    width: 100%;
}

.table {
    margin-bottom: 0%;
}

.contact-email {
    color: #f44336;
}

.tb-input {
    color: #f44336;
}


/* /////////////////////////////// */

#comm {
    min-height: 50vh;
}

#comm h3 {
    margin: 2% 0;
}

.comm-container {
    margin-bottom: 5%;
}

.comment-box {
    width: 100%;
    height: 40vh;
    border-radius: 0%;
    border: 1px solid  #191919;
    overflow-x: hidden;
    overflow-y: scroll;
}


form .form-control:focus {
    box-shadow: none;
}

.ff1 {
    width: 20%;
}
.ff2 {
    width: 60%;
}

.form-floating input {
    border-radius: 0%;
    border-color: #191919;
    border-top: none;
}

.commBtn {
    border-top: none;
    width: 20%;
}

.comment-message-box {
    width: 40%;
    height: auto;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 1%;
    padding: 0.5%;
}

.comm-name {
    color: #f44336;
    margin-left: 1%;
    font-size: 12px;
}

.comm-msg {
    color: #191919;
    font-size: 16px;
    margin-left: 1%;
    margin-right: 1%;
}


.deleteCommentButton {
    text-decoration: none;
    color: #e0e0e0;
    padding: 1% 1%;
    background-color: #ff2516;
    border-radius: 5px;
}

.deleteCommentButton:hover {
    color: #e0e0e0;
}


/* /////////////////////////////////// */

@media (max-width: 760px) {

    .row {
        margin-top: 25%;
    }


    .table {
        min-height: max-content;
        overflow: scroll;
    }

    #map {
        height:50vh;
        overflow: hidden;
    }

    #comm {
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .comment-message-box {
        width: 95%;
        margin: 2%;
        padding: 1%;
    }
    
}