* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

svg {
  width: 160px;
  height: 120px;
}

svg * {
  width: 100%;
  height: 100%;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url("../images/uni1.jpg");
  background-color: rgba(0, 0, 0, 0.55);
  background-blend-mode: multiply;

  background-position: top;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 170px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 13px 13px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.4s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.7s;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.7s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

@media (max-width: 1024px) {
  .text-box h1 {
    padding-top: 40px;
    font-size: 40px;
  }

  .text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
  }

  .top-unis h1 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .uni-p {
    color: #f44336;
    font-weight: 400;
    padding-bottom: 10%;
  }
}

/* top universities section */

.second {
  background-color: #fff;
}

.top-unis {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
  color: #000;
}

.top-unis h1 {
  font-size: 36px;
  font-weight: 600;
}

.col p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 25px;
  color: #444444;
}

.uni-p {
  color: #f44336;
  font-weight: 400;
  padding-bottom: 10%;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.col {
  flex-basis: 31%;
  background: #ffd3b3;
  margin-bottom: 5%;
  border-radius: 5px;
  padding: 20px 12px;
  box-sizing: border-box;
}

.top-unis h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px;
}

.col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
  transition: 0.2s;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* contact section */

.contact-box {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/contact-banner.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  text-align: center;
  padding: 130px 0;
  margin-bottom: 8%;
}

.contact-box h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
  font-size: 36px;
}

/* footer */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-size: 30px;
  background-color: #1a1a1a;
}

.footer p {
  font-size: 16px;
  color: rgb(190, 190, 190);
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  color: #fff;
}

.icons .fa {
  color: #f44336;
  margin: 10px 13px;
  cursor: pointer;
  padding: 18px 0;
}

.desc {
  margin: 50px auto;
  width: 80%;
  text-align: center;
}

.content_after_load {
  display: block;
}

.loader {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  display: none;
}
.loading-circle {
  height: 100px;
  width: 100px;
  border: 13px solid #000;
  border-top-color: #f44336;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
