.header {
  background: #fff;
  font-family: "Poppins", sans-serif;
  
}

.container1 {
  margin: 0 4%;
  margin-top: 10vh;
}

nav {
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 0%;
  padding-right: 0%;
}

nav h1 {
  margin-left: 0;
}

.nav-links ul li a{
  color: #111;
}

.form-control {
    margin-top: 2%;
    width: 100%;
    border-radius: 0%;
}

.col-md-6 {
  padding-bottom: 5%;
  padding-top: 5%;
}

.row h2 {
  color: #f44336;
  font-weight: 600;
  text-align: center;
}

.hero-btn {
  border-color: #111;
  color: #111;
  width: 100%;
}

.hero-btn:hover {
  color: #fff;
}

.log {
  color: #fff;
  border-color: #fff;
}

.log:hover {
  background-color:#e4e4e4 ;
  border-color: #e4e4e4;
  color: #111;
}

#register {
  background-color: #e4e4e4;
}

#login {
  background-color: #f44336 ;
}

#login h2 {
  color: #e4e4e4;
}

